TP/.vs/TP/v17/.suo
TP/TP/bin/Debug/TP.exe
TP/TP/bin/Debug/TP.pdb
TP/TP/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TP/TP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TP/TP/obj/Debug/TP.csproj.FileListAbsolute.txt
TP/TP/obj/Debug/TP.csproj.GenerateResource.cache
TP/TP/obj/Debug/TP.exe
TP/TP/obj/Debug/TP.pdb
